:root{
    --normal: #a6a877;
    --grass: #49d0b0;
    --fire: #ee7f30;
    --water: #678fee;
    --eletric:#f7cf2e ;
    --ice:#98d5d7 ;
    --ground:#dfbf69 ;
    --flying:#a98ff0 ;
    --poison:#a040a0 ;
    --fighting:#bf3029 ;
    --psychic:#f65687 ;
    --dark:#725847 ;
    --rock:#b8a137 ;
    --bug:#a8b720 ;
    --ghost:#6e5896 ;
    --steel:#b9b7cf ;
    --dragon:#6f38f6 ;
    --fairy:#f9aec7 ;
    /* Cores Secundarias */
    --verde-claro: #61e1ca;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f6f8fc;
}
.content{
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
