@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

#navegador{
    padding: 0px 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#foto{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    
}
.barra {
    display: flex; 
    align-items: center; 
}
.bar{
    padding-top: 15px;
}

.youtube_logo {
    margin-left: 30px;
    padding-top: 15px;
}
.barrapasquisa {
    display: flex; 
    align-items: center; 
    padding-top: 10px;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    
}

#ipesquisa {
    border: 1px solid black;
    margin-right: 0px; 
    height: 40px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}
#botao_pesquisa {
    width: 57px; 
    height: 41px;
    border: 1px solid rgba(83, 83, 83, 0.438);
    border-left: none;
    border-radius: 0px 25px 25px 0px; 
}
#botao_pesquisa:hover{
    background-color: rgba(211, 211, 211, 0.596);
}

.icones img{
    padding-top: 10px;
    padding-left: 15px;
    width: 24px;
    height: 24px;
}
iframe{
    padding: 50px 20px 0px 50px;
    border-radius: 10px;
}

.sidebar{
    display:  inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 42px;
    gap: 11px;
    float: right;
    }
.conjunto{
    padding-top:10px ;
    display: flex;
    height: 90px;
    align-items: center;
    gap: 13px;
}
.infos{
    height: auto;
    font-size: 14px
}
.nome_video{
    font-weight: bolder;
}
.thumbs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 94px;
    width: 160px;
}
.nome_video{
    font-weight: bolder;
}
#thumb1{
    background-image: url(assets/img/image\ 12.png);
}
#thumb2{
    background-image: url(assets/img/image\ 13.png);
}
#thumb3{
    background-image: url(assets/img/image\ 14.png);
}
#thumb4{
    background-image: url(assets/img/image\ 15.png);
}
#thumb5{
    background-image: url(assets/img/Thumb.png);
}
h1{
    font-size: 25px;
    font-weight: bolder;
    padding-left: 40px;
}
#informacao{
    display: flex;
    margin-left: 45px;
    gap: 10px;
}
#acoes_video {
    display: flex;
    width: 40%;
    flex-direction: row;
}

.botoes {
    display: flex;
    max-width: 540px; 
}

.botoes button {
    display: flex;
    align-items: center;
    margin: 5px;
}
