@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
#navegador{
    padding: 0px 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#foto{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    
}
.barra {
    display: flex; 
    align-items: center; 
}
.bar{
    padding-top: 15px;
}

.youtube_logo {
    margin-left: 30px;
    padding-top: 15px;
}
.barrapasquisa {
    display: flex; 
    align-items: center; 
    padding-top: 10px;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    
}

#ipesquisa {
    border: 1px solid black;
    margin-right: 0px; 
    height: 40px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}
#botao_pesquisa {
    width: 57px; 
    height: 41px;
    border: 1px solid rgba(83, 83, 83, 0.438);
    border-left: none;
    border-radius: 0px 25px 25px 0px; 
}
#botao_pesquisa:hover{
    background-color: rgba(211, 211, 211, 0.596);
}

.icones img{
    padding-top: 10px;
    padding-left: 15px;
    width: 24px;
    height: 24px;
}
main{
    width: 60%;
}
#ivideo{
    padding: 40px 40px 0px;
}
h1{
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#titulos{
    display: flex;
    align-items: center;
    padding: 0px 40px 0px;
    
}
.dio{
    margin-right: 9px;
}
.conjunto{
    display: flex;
}
#inputs{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inscreva{
    padding: 10px 20px;
    margin-left: 30px;
    margin-right: 30px;
    
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #c4302b; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.inscreva:hover {
    background-color: #ff0000;
}
.icones_likes{
    margin-left: auto;
   display: flex;
   justify-content: end;
   gap: 40px;
}
